<header class="masthead" style="background-image:url('assets/img/header-bg.jpg');">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"><span><br /><em>Welcome To Udicti!</em><br /></span></div>
      <div class="intro-heading text-uppercase"><span><br /><strong>UDSM ICT INCUBATOR</strong><br /><br /></span></div><a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" role="button" href="#services">Tell me more</a></div>
  </div>
</header>
<section id="services-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-uppercase section-heading">About Us</h2>
        <p class="text-justify text-muted">UDICTI is a unit within CoICT that promotes and nurtures innovations and entrepreneurship. It was established as an incubator in 2010 to address the growing unemployment rate among graduates despite their ability to develop solutions that
          can be commercialized. It’s flagship pre-incubation program grooms students as they turn their ideas into businesses, and nurtures themuntil they are able to stand on their own. Since its establishment as an incubator, UDICTI has grown
          into an innovation centre offering training,research and consultancies on innovation and entrepreneurship.<br /><br /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-group timeline">
          <li class="list-group-item">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Our Vision</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">To be the leading centre that empowers Youth to realize their dreams leading to social economic development<br /><br /></p>
              </div>
            </div>
          </li>
          <li class="list-group-item timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Our Mission</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">To nurture Youth’s innovative ideas through hands-on skills training and coaching<br /></p>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" /></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">CORE VALUES</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Commitment,Creativity,Credibility<br /></p>
              </div>
            </div>
          </li>
          <li class="list-group-item timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part<br /> Of Our<br /> Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-sm-5 col-md-7 col-lg-9 d-flex flex-column align-items-center align-content-center rounded-20 shadow-lg"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-server fa-stack-1x fa-inverse"></i></span>
        <h4 class="display-4 section-heading">Our Service</h4>
        <ul style="font-size: 24px;">
          <li class="text-justify">Training (Technical and Business related)<br /></li>
          <li class="text-justify">Office space and facilities (computing facilities,connectivity and a stand-by generator)<br /></li>
          <li class="text-justify">Coaching and mentoring<br /></li>
          <li class="text-justify">Networking opportunities<br /></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="team" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/fsimba.jpg">
          <h4>Fatma Simba</h4>
          <p class="text-muted">UDICTI coach</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/kmkocha.jpg">
          <h4>Khadija Mkocha</h4>
          <p class="text-muted">UDICTI coach</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member"><img class="rounded-circle mx-auto" src="assets/img/CMwase.jpg">
          <h4>Christine Mwase</h4>
          <p class="text-muted">UDICTI Coach</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
